$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
$font-family-star: Times, sans-serif; // make sure ★ appears correctly

$font-size-base: 14px;
$font-size-small: 12px;
